<p><%= t("devise.views.mailer.greeting", email: @email) %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t("devise.views.mailer.email_changed_pending", email: @resource.unconfirmed_email) %></p>
<% else %>
  <p><%= t("devise.views.mailer.email_changed", email: @resource.email) %></p>
<% end %>
